$colorblue:#2a54db;
$colorgreen:#89d22b;

.bodyDashboard{
    display:flex;
    flex-direction: row;
    margin:0px;
header{
    width:150px;
    height: 100vh;
}
.dashboardContents{
    width:calc(100vw - 100px) ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    section{
        width:100%;
        display: flex;
        justify-content: center;
    }

    .synthese{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
        margin-bottom: 150px;

        .containerSynthese{
            text-align: center;
            width:600px;
            height: 200px;
            border-radius: 16px;
            border-top: 2px $colorgreen solid ;
            border-bottom: 2px $colorgreen solid ;
            padding:8px;
            margin-bottom: 100px;
        }
    }

    .boardContent{
        border-top:2px $colorblue solid ;
        border-bottom:2px $colorblue solid ;
        padding:8px;
    }

    .board{
        table{ 
            border-collapse: collapse;
            margin:24px;
        td{
            border:2px solid black;
            text-align: center;
            vertical-align: center;
            padding:4px;
        }

        th{
            padding:6px;
        }
    }

    }
}
}