$colorblue:#2a54db;
$colorgreen:#89d22b;

.formLogin{
    width:700px;
    height:400px;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.524);
    margin:150px;
    font-size: 2rem;

    h1{
        font-size:3rem;
    }

    .connectionInfo{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:80%;
        .labelInput{
            label{
                display: inline-block;
                width:100px;
                height: 30px;
                margin-right:50px;
                vertical-align: center;
            }
        
            input{
                width:200px;
                height: 30px;
                border: 2px $colorblue solid;
                margin:4px;
            }
        }
    
}

    button{
        width:200px;
        height: 50px;
        border-radius: 16px ;
        background-color: white;
        border: 2px $colorblue solid;
        color:$colorblue;
        margin:16px;
        font-size: 1.3rem;
    }

}